body {
  background: $background_color;
  color: $text_color;
}

#header, #page, #footer {
  @include container();
}

.menu {
  @include clearfix;

  li {
    float: left;
    list-style-type: none;
    padding: 0 0.5em;
  }
}

/* *******************************/
/* Header */
/* *******************************/
#header-wrap {
  color: white;
  background: $header_color;
  margin-bottom: 1.5em;
  @include clearfix;  
  
  #header {
    @include clearfix;
    #logo {
      float: left;
      padding: 1em $gutter_width;
      h1 {
        @include image-replaced("/images/embed/logo-sm.png", 96px, 33px);
        margin: 0;
      }      
    }
    .menu {
      margin-top: 1.75em;
      float: left;
    }
    
    #profile {
      float: right;
      
      a {
        color: $de_emph_text_color;
      }
    }
  }
}

/* *******************************/
/* Main Content */
/* *******************************/
#content-wrap {
  @include column(14);
  @include rounded(4px);
  padding: $gutter_width/2 0;
  background: $content_background;  
}

#content, #top {
  margin: 0 $gutter_width/2;
}
#content {
  background: white;
  @include rounded(4px);
  border: 1px solid #ccc;
  padding: 1em;
  position: relative;
  
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ddd;
    opacity: 0.5;
  }
  
  .pagination {
    @include clearfix;
    margin-top: 1.5em;

    .button {
      margin: 0;
    }

    #next_button {
      float: right;
      margin-right: 0.5em;
    }
    #prev_button {
      float: left;
      margin-left: 0.5em;
    }
  }
}

/* *******************************/
/* Sidebar */
/* *******************************/
#sidebar {
  @include column(6);
  @include last;
    
  .block {
    margin-left: 1em;
    padding-top: 1em;
    border-bottom: 1px solid #ccc;
  
  }
}

/* *******************************/
/* Footer */
/* *******************************/
#footer {
 
}