body {
  background: #bbb;
}

#header, #page, #footer {
  @include container();
}

/* Header */
#header-wrap {
  color: white;
  background: black;
  @include clearfix;  
  
  #header {
    #logo {
      float: left;
      h1 {
        @include image-replaced("/images/embed/logo-xs.png", 71px, 20px);
        margin: 0;
      }      
    }
  }
}

/* Content Layout */
#content {
  @include column(16);

  #wrap {
    margin: 0.5em;
    @include rounded(4px);
    padding: 0.5em;
    background: #ddd;
    
  }
}

#sidebar {
  @include column(8);
  @include last;
}

/* Footer Layout */
#footer {
 
}