/* Layout
*******************************************/
body {
	background-color: white;
	font-family: Arial, sans-serif;
  font-size: 12px;
	padding: 0;
}

#main {
  background: #f3f3f3;
  @include container();
  padding-top: 3em;
  margin-top: 0;
  padding-bottom: 2em;
}

#flash, #error {
  padding: 0.75em;
  font-size: 1.2em;
  color: white;
  background: #aaa;
  margin-bottom: 1em;
}

#error {
  background: #990000;
  p {
    margin: 0.5em 0;
  }
  a {
    color: #66ffff;
  }
}

/* Homepage */
body#home {
  #header {
    @include clearfix;

    h2#logo {
      @include column(16);
    }
    #login {
      @include column(8);
      @include last;
    }
  }

  #pitch {
    @include clearfix;
    .col {
      @include column(8);
    }
    .last-col {
      @include last;
    }
  }

  #home-bottom {
    #manifesto {
      @include column(9);
    }
    #recent {
      @include column(14);
      @include last;
    }
  }
}

/* Internal */
#main {
  #left {
    @include prepend(1);
    @include column(6);
  }

  #right {
    @include column(14);
    @include last;
  }
}

.internal #main, .internal #footer {
  width: 880px;
}

/* Footer */
#footer {
  #footer-wrap {
    padding: 1em;
    @include clearfix;
  }
  @include container();
  border-top: 1px solid #ccc;

  #logo {
    float: left;
    a {
      @include image-replaced("/images/embed/logo-xs.png", 71px, 20px)
    }
  }
  ul {
    float: left;
    @include clearfix;
    padding-left: 1em;
    padding-top: 0.25em;
    li {
      list-style-type: none;
      float: left;
      padding-left: 1em;
      border-left: 1px solid #ddd;
      padding-right: 1em;
    }
  }
}
