body {
  line-height: 1.5;
}

p {
  margin-bottom: 1.5em;
}

a {
  color: $link_color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1,h2,h3,h4,h5 {
  @include title-face;
}

h1 {
  font-size:3em;
  line-height:1;
  margin-bottom:0.50em
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em; 
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em; 
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

label {
  font-weight: bold;
}