- content_for :title do
  Log In or Sign up

#login-forms
  != render :partial => "users/errors", :locals => {:user => @user}

  %h4
    One form, that's all.
  %p
    Put in a username and password, and we'll take care of the rest.

  %form#login{:action => "/sessions", :method => "POST"}
    .form-section
      != render :partial => "shared/field", :locals => {:attr => :username, :params => params}
      != render :partial => "shared/field", :locals => {:attr => :password, :params => params, :as => :password}
      != render :partial => "shared/field", :locals => {:attr => :remember_me, :params => params, :as => :checkbox, :lbl => "Remember me"}

    .form-submit
      %input.button{:type => "submit", :value => "Log in"}
      %a.forgot-password{:href => "/forgot_password"} Forgot Password

- content_for :bottom do
  #login-services.bottom-block
    %h4 Use Your Existing Facebook or Twitter Account
    .login-service
      %p Sign in with:
    .twitter.login-service
      %a.button{:href=>'/auth/twitter'}
        %span.icon.twitter
        Twitter
    .facebook.login-service
      %a.button{:href=>'/auth/facebook'}
        %span.icon.facebook
        Facebook

- content_for :javascript do
  :javascript
    $(document).ready(function(){$("#username").focus()});
