%head
  %meta{:charset => "utf-8"}
  %title rstat.us
  %script{:src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"}
  %script{:src => "/js/app.js"}
  %link{:href => "/css/css3buttons.css", :media => "screen", :rel => "stylesheet"}
  - css.each do |file|
    %link{:href => "/css/#{file}.css", :media => "screen", :rel => "stylesheet"}

  != yield_content :css
  
  - if production?
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22030550-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
  != yield_content :javascript
