- nav = [{:url => "/", :name => "Timeline"}, {:url => "/replies", :name => "Replies"}, {:url => "/world", :name => "World"}]
- unless @hashtag.nil?
  - nav << {:url => "/hashtags/#{@hashtag}", :name => "##{@hashtag}"}
#navigation
  %ul
    - nav.each do |item|
      %li{:class => request.path_info == item[:url] ? "active" : ""}
        %a{:href => item[:url]}
          = item[:name]
