%form#update-form{ :action => "/updates", :method => "POST", :name => "update_form"}
  %h3 What's going on?
  #update-content
    %textarea#update-textarea{:name => "text"}=@update_text
  #update-info
    %input#update-referral{:type => 'hidden', :name => 'referral_id', :value => @update_id}
    - if current_user.twitter?
      %span
        %input{:type => "checkbox", :name => "tweet", :id => "tweet", :checked => "checked", :value => "1"}
        %label{:for => "tweet"} Twitter
    - if current_user.facebook?
      %span
        %input{:type => "checkbox", :name => "facebook", :id => "facebook", :checked => "checked", :value => "1"}
        %label{:for => "facebook"} Facebook
    %input#update-button.button{:type => "submit", :value => "Share"}
    #update-count{:title => 'Characters remaining'}
