- unless current_user.nil?
  - content_for :top do
    != haml :_update_form

!= haml :_navigation
#timeline.updates.has-update-form
  != haml :_updates, :locals => {:updates => @updates}
  %nav.pagination
    - unless @prev_page.nil?
      %a.button{:href => @prev_page, :id => "prev_button"}
        &laquo; Previous

    - unless @next_page.nil?
      %a.button{:href => @next_page, :id => "next_button"}
        Next &raquo;
