!!! 5
%html.no-js
  != haml :_head, :locals => {:css => ['external']}
  %body.external
    #main
      #header
        %h2#logo
          %a{:href => "/"}
            rstat.us
        #login
          Sign in with
          .options
            .twitter
              %a.button{:href=>'/auth/twitter'}
                %span.icon.twitter
                Twitter
            .facebook
              %a.button{:href=>'/auth/facebook'}
                %span.icon.facebook
                Facebook
            .email
              %a.button{:href=>'/login'}
                %span.icon.mail
                Email
            / %form{:action => "/signup", :method => "POST"}
            /   Email
            / %input{:name => "email"}
            /   %input{:type => "Submit", :value => "Sign up"}

      #content
        - if flash[:notice] || flash[:error]
          #flash
            = flash[:notice]

        !=yield
