%h1 Follow a User
%p You can follow your friends from other sites that use the ostatus protocol. Check below for the list of ostatus sites we support, and let us know if you'd like us to add another.

%h3 ostatus Sites

#sites
  .osite
    %h4 identi.ca
    %p Copy the link to the Atom feed from a user's profile in identi.ca and paste it into the field to your right.
    %img{:src=>"images/identica.png"}

#follow-form
  %form{:action => "/subscriptions", :method => "POST"}
    %input{:type => "text", :name => "url"}
    %input{:type => "submit", :value => "Follow"}
