%p You can follow someone not on rstat.us, as long as they use 'ostatus.' 

%form{:action => "/feeds", :method => "POST"}
  %input{:type => "text", :name => "url"}
  %input{:type => "submit", :value => "Follow"}
