#footer
  #footer-wrap
    #logo
      %a{:href=>"/"}
        rstat.us
    %ul
      %li
        %a{:href=>"/home"}
          Home
      %li
        %a{:href=>"/login"}
          Login/Signup
      %li
        %a{:href=>"/open_source"}
          Open Source