#footer
  #footer-wrap
    #logo
      %a{:href=>"/"}
        rstat.us
    %ul
      %li
        %a{:href=>"/home"}
          Home
      - unless logged_in?
        %li
          %a{:href=>"/login"}
            Login/Signup
      %li
        %a{:href=>"/contact"}
          Contact
      %li
        %a{:href=>"/open_source"}
          Open Source
