!!! 5
%html.no-js
  != haml :_head
  %body#home
    #main
      #header
        %h2#logo
          %a{:href => "/"}
            rstat.us
        #login
          Sign in with
          .options
            .twitter
              %a.button{:href=>'/auth/twitter'}
                %span.icon.twitter
                Twitter
            .facebook
              %a.button{:href=>'/auth/facebook'}
                %span.icon.facebook
                Facebook
            .email
              %a.button{:href=>'/login'}
                %span.icon.mail
                Email
            / %form{:action => "/signup", :method => "POST"}
            /   Email
            / %input{:name => "email"}
            /   %input{:type => "Submit", :value => "Sign up"}

      .content
        - if flash[:notice] || flash[:error]
          #flash
            = flash[:notice]

        #pitch
          %a#col-1.col{:href=>'/login'} 
            %h2.title
              Sign Up
            .content
              with Twitter or Facebook, or create a new account
          #col-2.col
            %h2.title
              Connect
            .content
              to your friends and family around the world
          #col-3.col.last-col
            %h2.title
              Share
            .content
              your thoughts in 140 characters or less
        #home-bottom
          #manifesto
            .wrap
              :markdown
                ## rstat.us?

                Microblogging has taken the world by storm. Millions of people around the world now share their thoughts with friends, family, and random strangers every day. Links are shared, stories are told, and events are discussed. rstatus is the newest place to participate in the collective conscious of the planet.

                ### What's different about it?

                There are two things that make rstat.us special: _simplicity_ and _openness_.

                **Simplicity** is a core 'feature' of rstat.us. We pride ourselves on saying 'no' to lots of features. Our interface is clean, and easy to understand. We give you just enough features to be interesting, but not enough to be complicated and confusing. 

                If you're a software developer, you'll probably want to check out our [Open Source page](/open_source). If that's greek to you, here's the deal on **Openness**: the programming code that makes up rstat.us is available for anyone to download, free of charge. Programmers can use that code to run their own websites just like rstat.us, and you can subscribe to your friends on any site that supports the [OStatus protocol](http://ostatus.org/about), like [identi.ca](http://identi.ca/). This also means that you can own your data, we'll never stop you from having full access to everything you've put into rstat.us.

                \- The **rstat.us** team
          #recent
            .updates
              %h3 Recent updates
              != haml :_updates, :locals => {:updates => Update.hot_updates}
              .world-link
                %a{:href => "/updates"}
                  more...
              %h4 
                %a{:href => "/login"}
                  Join the conversation

    != haml :footer
