- content_for :javascript do
  %script{:src => "/js/jquery.equalHeights.js"}
  %script{:src => "/js/home.js"}

#pitch
  #col-1.col
    %h2.title
      Sign Up
    .content
      with Twitter or Facebook, or create a new account
  .col
    %h2.title
      Connect
    .content
      to your friends and family
  #col-3.col.last-col
    %h2.title
      Share
    .content
      your thoughts in 140 characters or less