!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title rstat.us
    %script{:src => "/js/jquery-1.5.1.min.js"}
    %link{:rel => "stylesheet", :href => "/css/site.css", :type => "text/css", :charset => "utf-8"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'SOMETHING']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
  %body
    #flash
      %p= flash[:notice]
    = yield

