%form{:action => "/login", :method => "POST"}
  %table
    %tr
      %td
        %label{:for => "username"} Username
      %td
        %input{:id => "username", :name => "username", :size => 30, :type => "text"}
    %tr
      %td
        %label{:for => "password"} Password
      %td
        %input{:id => "password", :name => "password", :size => 30, :type => "password"}
    %tr
      %td
      %td
        %input{:value => "Log in", :type => "submit", :class => "button"}
%br/
%form{:action => "/signup", :method => "POST"}
  email
  %input{:name => "email"}
    %input{:type => "Submit", :value => "Sign up"}
