:markdown
  # Open Source

  rstat.us is entirely, 100% Open Source, and so is our development stack.

  ## rstat.us

  _rstat.us is_ the website you're looking at.

  - [Website](http://rstat.us) (duh)
  - License: [WTFPL](https://github.com/hotsh/rstat.us/raw/be79740ed0f19b3a02e15dbcdbbdb8ca36509819/LICENSE) (essentially public domain)
  - [Source Code](https://github.com/hotsh/rstat.us)

  ## ruby

  _Ruby is_ the programming language that rstat.us is written in.

  - [Website](http://ruby-lang.org)
  - License: the [Ruby License](http://www.ruby-lang.org/en/LICENSE.txt)
  - [Source Code](http://github.com/ruby/ruby)

  ## sinatra

  _sinatra is_ the web framework that we use.

  - [Website](http://sinatrarb.com)
  - License: [MIT](https://github.com/sinatra/sinatra/raw/79032f794175bd9f712751cfbd004315b8ddf8f2/LICENSE)
  - [Source Code](https://github.com/sinatra/sinatra)

  ## mongodb

  _MongoDB is_ the database that powers rstat.us.

  - [Website](http://mongodb.org)
  - License: [AGPLv3](https://github.com/mongodb/mongo/raw/master/GNU-AGPL-3.0.txt)
  - [Source Code](https://github.com/mongodb/mongo)

  ## ostatus

  _ostatus is_ the protocol we use to send updates.

  - [Website](http://ostatus.org)
  - [Spec Document](http://ostatus.org/specification)

  ## pubsubhubbub

  _pubsubhubbub is_ a protocol that OStatus builds upon.

  - [Website](http://code.google.com/p/pubsubhubbub/)
  - [Spec Document](http://pubsubhubbub.googlecode.com/svn/trunk/pubsubhubbub-core-0.3.html)
