- content_for :top do
  != haml :_update_form

- content_for :javascript do
  %script{:src => "/js/update.js"}

!= haml :_navigation
#replies.updates
  != haml :_updates, :locals => {:updates =>  @replies.to_a.sort{|a, b| b.created_at <=> a.created_at }}
  - unless @prev_page.nil?
    %a.button{:href => @prev_page, :id => "prev_button"}
      &laquo; Previous

  - unless @next_page.nil?
    %a.button{:href => @next_page, :id => "next_button"}
      Next &raquo;
