%h1 Search

%form#search-form.search{:action => "search", :method => "GET", :name => "search_form"}
  %input#search-input{:name => "q", :type => "text"}
  %input#search-button.button{:type => "submit", :value => "Search"}

!= haml :_navigation

#search.updates
  != haml :_updates, :locals => {:updates =>  @updates}
  %nav.pagination
    - unless @prev_page.nil?
      %a.button{:href => @prev_page, :id => "prev_button"}
        &laquo; Previous

    - unless @next_page.nil?
      %a.button{:href => @next_page, :id => "next_button"}
        Next &raquo;
