/* Helper functions 
 *******************************************/
/* Color
*******************************************/
/* Typography
*******************************************/
.title-face {
  font-family: "Arial Black", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Arial Black", Arial, sans-serif;
}
a {
  color: #65bfc2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* Layout
*******************************************/
body {
  background-color: while;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 0;
}
