@import "blueless/blueless/screen";
@import "_shared";

/* Layout
*******************************************/
#main {
  #left {
    .column(8);   
    
    #logo, #profile {
      .prepend(2);
      .column(6);
      .last;
    }  
    
    #logo {
      h2 {
        .image-replaced("../images/logo-sm.png", 159px, 45px)        
      }
    }
    
    #profile {
      .clearfix;
      padding-top: 2em;
      width: 200px;
      h3 {
        color: #888;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #ddd;
      }
      .avatar, .userinfo {
        float: left;
      }
      .userinfo {
        padding-top: 0.25em;
        padding-left: 1em;
        .name {
        	font-weight: bold;
        	font-size: 1.25em;
        }
        
        .logout {
          margin-top: 1em;
          border-top: 1px solid #ddd;
          padding-top: 1em;
        }
      }
    }
  }
  
  #right {
    .column(16);
    .last;
  }
}

#content {
  .column(14);
  
  h3 {
    padding-top: 0.9em;
  }
}

/* Following
*/

.user-list {
  padding: 0;
  margin: 0;
  .user {
    position: relative;
    padding: 0.5em;
    list-style-type: none;
    .clearfix;
    
    .follow {
      position: absolute;
      top: 0.75em;
      right: 0.5em;
    }
  }
  .even {
    background: #e5e5e5;
  }
}

/* the textarea where the user types an update */
form#update-form {
  .clearfix;
  padding: 0 0 1em 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
  #update-content {
    textarea {
      width: 540px;
      padding: 5px;
      height: 2.5em;
      margin: 0;
    }    
  }

  #update-info {
    .clearfix;
    #update-button, #update-count {
      float: left;
    }    
    #update-count {
      color: #999;
      padding-left: 0.75em;
      padding-top: 0.6em;
    }
  }
  #update-info.negative #update-count {
    color: red;
  }
}

.no-js #update-count {
  display: none;
}

#update-form:focus {
	-moz-box-shadow: 5px 3px 5px #efefef;
}

#navigation {
  ul {
    margin: 0;
    padding: 0;
    
    .clearfix;
    li {
      background: #dadada;
      padding: 0.5em 1em;
      margin: 0 2px 2px 0;
      list-style-type: none;
      float: left;
      .title-face;
      font-size: 1.25em;
      a {
        color: #8f8f8f;
      }
    }
    li.active {
      background: @highlight;
      a { 
        color: white;
      }
    }
  }
}

#timeline .mention {
  background: @mention;
}

/* Profile */
#profile {
  position: relative;
  h3 {
    margin-bottom: 0.25em;
  }
  .username {
    padding-bottom: 1em;
  }
  
  #follow {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    .follow-status {
      font-size: 0.8em;
      color: #999;
    }
  }
}

/* Login */
#login-forms {
  .clearfix;
}

#login, #signup {
  float: left;
  width: 220px;
  .clearfix;
  label, input {
    display: block;
  }
  label {
    width: 100px;
  }
  input {
    margin-bottom: 0.75em;
  }
}

#login {
  border-right: 1px solid #ddd;
  margin-right: 40px;
}

#login-other {
  margin-top: 2em;
  border-top: 1px solid #ddd;
  padding-top: 2em;
  
  .options div {
    float: left;
    padding-right: 0.25em;
  }
  
}

/* Negative is red */
.negative {
  .button:hover, a.button:hover { color: #FFFFFF; background-position: 0 -121px; background-color: #D84743; border-color: #911D1B; }
  color: red;
}