To reset your password for rstat.us please click on the link below.

http://rstat.us/reset_password/#{token}

Please be aware that this link will only be valid for 2 days.

\- The rstat.us site Robot
