- if user && user.errors.any?
  %div{:id => "error"}
    %div{:id => "error_explanation"}
      %strong= "Sorry, #{pluralize(user.errors.count, "error")} we need you to fix:"
      %ul
        - user.errors.full_messages.each do |msg|
          %li= msg
