- value = params[attr] ? params[attr] : (defined?(obj) ? obj.send(attr) : "")
- field_label = defined?(lbl) ? lbl : attr.to_s.capitalize


.form-field{:class => attr}
  %label{:for => attr}= field_label

  .input
    - if defined?(as)
      - case as
      - when :text
        %textarea{:id => attr, :name => attr, :type => "text", :rows => 5}
          = value
      - when :password
        %input{:id => attr, :name => attr, :type => "password"}
      - when :checkbox
        %input{:id => attr, :name => attr, :type => "checkbox", :value => 1}
    - else
      %input{:id => attr, :name => attr, :type => "text", :value => value}
