#header-wrap
  #header
    #logo
      %a{:href=>"/"}
        %h1
          rstat.us
    = render :partial => "shared/menu/main"
    = render :partial => "shared/menu/profile"
    = render :partial => "shared/menu/button"
