%nav.pagination
  - unless @previous_page.nil?
    %a.button{:href => @previous_page, :id => "prev_button", :rel => "previous"}
      &laquo; Previous

  - unless @next_page.nil?
    %a.button{:href => @next_page, :id => "next_button", :rel => "next"}
      Next &raquo;
