- content_for :title do
  Log In or Sign up
  
#login-forms
  != haml :"users/_errors", :locals => {:user => @user}

  %form#login{:action => "/login", :method => "POST"}
    .form-section
      .form-field
        %label
        .input
          Put in a username and password, and we'll take care of the rest.
    .form-section
      != haml :"shared/_field", :locals => {:attr => :username, :params => params}
      != haml :"shared/_field", :locals => {:attr => :password, :params => params, :as => :password}
      != haml :"shared/_field", :locals => {:attr => :remember_me, :params => params, :as => :checkbox, :label => "Remember me"}

    .form-submit  
      %input.button{:type => "submit", :value => "Log in"}
      %a.forgot-password{:href => "/forgot_password"} Forgot Password

- content_for :bottom do
  #login-services.bottom-block
    %h4 Use Your Existing Facebook or Twitter Account
    .login-service
      %p Sign in with:
    .twitter.login-service
      %a.button{:href=>'/auth/twitter'}
        %span.icon.twitter
        Twitter
  
    .facebook.login-service
      %a.button{:href=>'/auth/facebook'}
        %span.icon.facebook
        Facebook

- content_for :javascript do
  :javascript
    $(document).ready(function(){$("#username").focus()});
