- if current_user.hashed_password.nil?
  %h2 Set Password
- else
  %h2 Password Reset

%form{:action => "/users/password_reset", :method => "POST"}
  - if current_user.email.nil?
    %p You must provide an email address in order to set your password
    %label{:for => "email" } Email:
    %input{:type => "text", :name => "email", :id => "email"}
    %br
    %br
  %label{:for => "password" } Password:
  %input{:type => "password", :name => "password", :id => "password"}
  %br/
  %label{:for => "password_confirm" } Password Confirm:
  %input{:type => "password", :name => "password_confirm", :id => "password_confirm"}
  %br/
  %input{:type => "submit", :value => "Reset"}
