%ul.menu#main
  != menu_item("Home", "/", :rel => "index")
  != menu_item("Updates", "/updates", :rel => "messages-all")
  != menu_item("Search", "/search", :rel => "messages-search")
  != menu_item("Users", "/users", :rel => "users-search")
