%ul.menu#updates-menu
  - if current_user
    != menu_item("Timeline", "/", {:icon => true})
    != menu_item("Replies", "/replies", {:icon => true})
  != menu_item("Updates", "/updates", {:icon => true})
