To confirm your e-mail change for rstat.us please click on the link below.

http://rstat.us/confirm_email/#{token}

Please be aware that this link will only be valid for 2 days.

\- The rstat.us site Robot
