development:
  # Twitter API stuff (these fake keys work)
  CONSUMER_KEY: asdf
  CONSUMER_SECRET: asdf

  #set this to the URL of a status blog or the like.
  #if empty, the Blog footer link won't show.
  BLOG_URL:
