#about
  :markdown
    # About Us

    rstat.us is a [100% open source](/open_source) microblogging platform. Development of rstat.us started on March 12, 2011 as a result of frustration about Twitter becoming more closed.

    We receive no funding. Our hosting costs are very minimal (the main rstat.us site is hosted on [heroku](http://heroku.com)). All code has been written on a volunteer basis and is available for anyone to use under the [CC0](https://raw.github.com/hotsh/rstat.us/HEAD/LICENSE) license, which is essentially public domain.

    The eventual goal is to make it easy enough for anyone to install the rstat.us code on their own server and run their own node. Because of rstat.us' use of [open protocols](http://ostatus.org), anyone on the main rstat.us node can follow anyone on any other node, and vice versa. We still have work to do to make it easy to install rstat.us' code, but following users on other sites that use the same protocols, like [identi.ca](https://identi.ca/), works today!

    # Developers

    The original group of developers hailed from Pittsburgh, PA, USA, but rstat.us has had contributors from all over the world.

    Here is everyone who has made at least one contribution to rstat.us' code, tests, design, or documentation (in alphabetical order by github username). If you'd like to join us, [there is plenty left to do!](https://github.com/hotsh/rstat.us/issues?sort=updated&state=open)

  %p#contributors
    %a{:href => "http://github.com/adrpac"}
      %img{:src => "https://secure.gravatar.com/avatar/4ba511c29ba4e11c12d37ad13012256d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "adrpac"}
    %a{:href => "http://github.com/alindeman"}
      %img{:src => "https://secure.gravatar.com/avatar/3da9aebb918d0d1b12d66fcca93c289d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "alindeman"}
    %a{:href => "http://github.com/AndrewVos"}
      %img{:src => "https://secure.gravatar.com/avatar/f00947d13ece55d18bc7ddade8e04c20?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "AndrewVos"}
    %a{:href => "https://github.com/AriT93"}
      %img{:src => "https://secure.gravatar.com/avatar/e292078d1562a185acf8bf957cd4ddca?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png", :title => "AriT93"}
    %a{:href => "http://github.com/blaine"}
      %img{:src => "https://secure.gravatar.com/avatar/fa273befbb36b0323044fcf035b7ee39?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "blaine"}
    %a{:href => "http://brainvsbraun.com/"}
      %img{:src => "https://twimg0-a.akamaihd.net/profile_images/1754978522/mb_reasonably_small.jpg", :title => "brainvsbraun"}
    %a{:href => "http://github.com/brett-bender"}
      %img{:src => "https://secure.gravatar.com/avatar/65ea175001f9aeee83e5299b62f3e512?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "brett-bender"}
    %a{:href => "http://github.com/BRIMIL01"}
      %img{:src => "https://secure.gravatar.com/avatar/fa26746b0b1b7bc1802e482c626175ed?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "BRIMIL01"}
    %a{:href => "http://github.com/buddhamagnet"}
      %img{:src => "https://secure.gravatar.com/avatar/8125afaa6ade422d5d733d7a05222935?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "buddhamagnet"}
    %a{:href => "http://github.com/burningTyger"}
      %img{:src => "https://secure.gravatar.com/avatar/5025518a8f5190d3ed63334ebf074c8c?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "burningTyger"}
    %a{:href => "http://github.com/caleywoods"}
      %img{:src => "https://secure.gravatar.com/avatar/d8b003513374091d6b8a0327a0ab47ca?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "caleywoods"}
    %a{:href => "http://github.com/carols10cents"}
      %img{:src => "https://secure.gravatar.com/avatar/2ac88413948aad12e279e0d9609e7f74?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "carols10cents"}
    %a{:href => "http://github.com/chrismdp"}
      %img{:src => "https://secure.gravatar.com/avatar/2687ad35ad8b93df96c5521a86c7101c?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "chrismdp"}
    %a{:href => "http://github.com/codebykat"}
      %img{:src => "https://secure.gravatar.com/avatar/eb5186a9c359026160de4348ce82bc59?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "codebykat"}
    %a{:href => "http://github.com/colindean"}
      %img{:src => "https://secure.gravatar.com/avatar/e3c791e8e5da39bf88b09dfb089de01b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "colindean"}
    %a{:href => "http://github.com/connor"}
      %img{:src => "https://secure.gravatar.com/avatar/f12ed6301268a1a8d40f292135e6bfca?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "connor"}
    %a{:href => "http://github.com/crossblaim"}
      %img{:src => "https://secure.gravatar.com/avatar/ffd4bec1bb0db0248e4845b408d1552e?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "crossblaim"}
    %a{:href => "http://github.com/dominic"}
      %img{:src => "https://secure.gravatar.com/avatar/a0080a59a1de7a7827a988ac6005d922?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "dominic"}
    %a{:href => "http://github.com/geihsler"}
      %img{:src => "https://secure.gravatar.com/avatar/13b4e3d56b4baefd517719fcb0d7fb9b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "geihsler"}
    %a{:href => "http://github.com/huxley-sparks"}
      %img{:src => "https://secure.gravatar.com/avatar/8ee279c53182c3932bbdfd9b31f08179?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "huxley-sparks"}
    %a{:href => "http://github.com/jamescook"}
      %img{:src => "https://secure.gravatar.com/avatar/08faa342337f7208ad9e4b2083ecbff2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "jamescook"}
    %a{:href => "http://github.com/jgaskins"}
      %img{:src => "https://secure.gravatar.com/avatar/76de16cb97b382f990c4798277e37bab?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "jgaskins"}
    %a{:href => "http://github.com/jordanbyron"}
      %img{:src => "https://secure.gravatar.com/avatar/6d2661c5a65f24c8f0bb579b6e0a0d81?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "jordanbyron"}
    %a{:href => "http://github.com/kuadrosx"}
      %img{:src => "https://secure.gravatar.com/avatar/603e15b159fc2ed52fde40d528450e73?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "kuadrosx"}
    %a{:href => "http://github.com/LindseyB"}
      %img{:src => "https://secure.gravatar.com/avatar/07880ac74f4bf088fc809e25cbac441f?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "LindseyB"}
    %a{:href => "http://github.com/markzalar"}
      %img{:src => "https://secure.gravatar.com/avatar/1cc6cde1aa6b9ebd14b6c49f4a920f81?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "markzalar"}
    %a{:href => "http://github.com/mathias"}
      %img{:src => "https://secure.gravatar.com/avatar/311c342bfd324eb9d3603222f7f36f24?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "mathias"}
    %a{:href => "http://github.com/mental"}
      %img{:src => "https://secure.gravatar.com/avatar/912c61d9da47754de7039f4271334a9f?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "mental"}
    %a{:href => "http://github.com/mkremer"}
      %img{:src => "https://secure.gravatar.com/avatar/204fa89ff29cac7e594a2a8cbd30c978?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "mkremer"}
    %a{:href => "http://github.com/mstevens"}
      %img{:src => "https://secure.gravatar.com/avatar/6ff497ac0ccd83efab57361b4004f8a7?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "mstevens"}
    %a{:href => "http://github.com/mvrilo"}
      %img{:src => "https://secure.gravatar.com/avatar/5723b169ea9d9e974d0934f4b049c8ce?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "mvrilo"}
    %a{:href => "http://github.com/nashby"}
      %img{:src => "https://secure.gravatar.com/avatar/608b32640d0fca097b40bc6a28cadc5f?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "nashby"}
    %a{:href => "http://github.com/nategood"}
      %img{:src => "https://secure.gravatar.com/avatar/d2ce351ee414282b93dfdb672ce51430?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "nategood"}
    %a{:href => "http://github.com/Omegalulz"}
      %img{:src => "https://secure.gravatar.com/avatar/aede1f26f8d31661e06e8f8fc12b8f8c?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "Omegalulz"}
    %a{:href => "http://github.com/samhaskins"}
      %img{:src => "https://secure.gravatar.com/avatar/9b5c21943306b58b03d8c2e6e18a17b3?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png", :title => "samhaskins"}
    %a{:href => "http://github.com/shebanian"}
      %img{:src => "https://secure.gravatar.com/avatar/b6b7ab26d3160448b3ab8fe1bacaa02e?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "shebanian"}
    %a{:href => "http://github.com/singpolyma"}
      %img{:src => "https://secure.gravatar.com/avatar/3ab4d3a66e470ce10eb7ec812fab3c46?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "singpolyma"}
    %a{:href => "http://github.com/spyderman4g63"}
      %img{:src => "https://secure.gravatar.com/avatar/d796e3ec853c86069d40b815571a3b54?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "spyderman4g63"}
    %a{:href => "http://github.com/steveklabnik"}
      %img{:src => "https://secure.gravatar.com/avatar/233c279c012ebac792aaa805f966cbc7?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "steveklabnik"}
    %a{:href => "http://github.com/stewart"}
      %img{:src => "https://secure.gravatar.com/avatar/767f7346246872dc78a1259c4cbc6c7a?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "stewart"}
    %a{:href => "http://github.com/telemachus"}
      %img{:src => "https://secure.gravatar.com/avatar/d88863757d1f37a2f61bf2bda6516524?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "telemachus"}
    %a{:href => "http://github.com/tevic"}
      %img{:src => "https://secure.gravatar.com/avatar/f90b7f00e39cdce217958db1634c22d5?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "tevic"}
    %a{:href => "http://github.com/thomaslee"}
      %img{:src => "https://secure.gravatar.com/avatar/1219225b2e4c875a60fbbbf4d742001f?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "thomaslee"}
    %a{:href => "http://github.com/twilson63"}
      %img{:src => "https://secure.gravatar.com/avatar/ebd63577f6cef101bf22245572781d5d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "twilson63"}
    %a{:href => "http://github.com/Valarissa"}
      %img{:src => "https://secure.gravatar.com/avatar/406716f4f3bf397489ea9b7994f89c3c?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "Valarissa"}
    %a{:href => "http://github.com/wilkie"}
      %img{:src => "https://secure.gravatar.com/avatar/45cf72d0b5611b4372b8367759882b93?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "wilkie"}
    %a{:href => "http://github.com/wolfwood"}
      %img{:src => "https://secure.gravatar.com/avatar/97ebfcd0e088852b4210e52c47b54b5f?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "wolfwood"}
    %a{:href => "http://github.com/yumitsu"}
      %img{:src => "https://secure.gravatar.com/avatar/8bede8bef4ece35ac047c3501b396829?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "yumitsu"}
    %a{:href => "http://github.com/zzak"}
      %img{:src => "https://secure.gravatar.com/avatar/7fe945668a4fc098e886e20dea71d2ee?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", :title => "zzak"}
