%h1 Contact Us

%p
  Please don't hesitate to send us a message with what you think!

  All feedback, suggestions, and bug reports are welcome.

%p
  Just send an email: <a href="mailto:rstatus@rstat.us">rstatus@rstat.us</a>.

%p
  mailinglist: <a href="mailto:rstatus@librelist.com">rstatus@librelist.com</a>

%p
  irc: irc.freenode.net #rstatus
