%h1 Follow a User
%p You can follow your friends from other sites that use the ostatus protocol by providing their webfinger identification.
%p For examples for some common sites, direct your attention to the bottom of this page.

#follow-form.search
  = form_tag "/subscriptions" do
    %input{:type => "text", :name => "subscribe_to", :class => "username" }
    %input.button.follow{:type => "submit", :value => "Follow"}

%h3 OStatus Sites

#sites
  .osite
    %h4
      %a{:href=>"http://rstat.us"} rstat.us
    %p username@rstat.us

  .osite
    %h4 
      %a{:href=>"http://identi.ca"} identi.ca
    %p username@identi.ca

  .osite
    %h4
      %a{:href=>"http://status.net"} status.net
    %p username@status.net

