/* *******************************/
/* Update Form */
/* *******************************/

form#update-form {
  @include clearfix;
  margin: 1em;

  #update-content {
    /* the textarea where the user types an update */
    textarea {
      @include copy-face;
      width: 97%;
      padding: 1%;
      font-size: 1.1em;

      height: 2.5em;
      border: solid 1px #CCCCCC;
      @include rounded(3px);
      outline: none;
    }
  }

  #update-info {
    @include clearfix;

    /* Twitter and Facebook checkboxes */
    #repost-services {
      float: left;
      font-size: 0.9em;
      padding: 0.85em 1em;

      .info, .input-checkbox {
        float: left;
        padding-right: 0.8em;
        label {
          font-weight: normal;
        }
      }
    }
    
    #update-button {
      float: right;
      margin-right: 5px;
    }
    
    /* Character counter */
    #update-count {
      float: right;
      padding: 0.75em;

      .update-count {
        color: $de_emph_text_color;
        padding-right: 0.2em;
      }
      color: #aaa;
    }
  }
  
  #update-info.negative #update-count .update-count {
    color: red;
  }
}

.no-js #update-count {
  display: none;
}

/* ****************************** */
/* Updates Navigation */
/* ****************************** */
#updates-menu-wrap {
  position: relative;
  @include clearfix;
  z-index: 10;
  margin-bottom: -1px;
}

#updates-menu-background {
  margin: 5px 5px 0 5px;
  -webkit-box-shadow: 0px 0px 4px #bbb;
  float: left;
  background: url('/images/embed/nav-background.png') center bottom repeat-x;  
}


#updates-menu {
  @include clearfix;
  float: left;
  padding: 0 1em 0 1em;
  overflow: visible;
  border-bottom: 1px solid #ccc;
  
  li {
    @include clearfix;

    padding: 0.35em 1em 0.35em 0.5em;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #f7f7f7;
    
    .icon {
      @include image_replaced('/images/icons_sprite.png', 24px, 16px);
    }
    .icon, a { 
      float: left; 
    }
  }
  
  li.world .icon { background-position: 0 -48px;}
  li.replies .icon { background-position: 0 -64px;}
  li.timeline .icon { background-position: 0 -80px;}
  li.active.replies .icon { background-position: -24px -64px;}
  li.active.world .icon { background-position: -24px -48px;}
  li.active.timeline .icon { background-position: -24px -80px;}
  
  li:hover {
    background: #f9f9f9;
  }
  
  li.active {
    position: relative;
    -webkit-box-shadow: 0px 0px 10px #aaa;
    @include rounded(3px, 3px, 0, 0);
    background: white;
    margin: -0.35em 0 -0.1em 0;
    border-bottom: 1px solid white;
    z-index: 10;
    
    padding: 0.5em 1em 0.5em 0.5em;
    a {
      font-weight: bold;
      color: black;      
    }
  }
  
  li.active a:hover {
    text-decoration: none;
  }
  
  li:last-child {
    border-right: 1px solid #e5e5e5;
  }
}

/* ****************************** */
/* Updates List */
/* ****************************** */
.updates {
  .update {
    @include clearfix;
    position: relative;
    padding: 1em 1em 0.75em 6em;
  	border-bottom: solid 1px #efefef;

    .author{
      .avatar {
        position: absolute;
        top: 1em;
        left: 1em;
      }
      .fn, .nickname {
        font-weight: bold;
      }      
    }

    .entry-content {
      padding-right: 3em;
      padding-bottom: 0.35em;
      word-wrap: break-word;
      font-size: 1.1em;
    }
      
    .info {
      float: left;
    }
    
    .actions, .published, .in-reply {
    	font-size: 0.9em;
    	color: #aaa;
      line-height: 2em;
    }
    
    .actions {
      display: none;
      float: right;
      
      .remove-update {
        cursor: pointer;
        float: right;
        border: none;
        @include image-replaced('/images/embed/trash.png', 13px, 16px)
      }
    }

    &:hover .actions {
      display: block;
    }
  }

  .mention {
    background: $mention;
  }
  .mine {
    background: $highlight;
  }
  .empty {
    font-size: 1.2em;
    padding: 1em;
    color: #bbb;
  }
}  

/* ****************************** */
/* Sidebar */
/* ****************************** */
#current_user {
  @include clearfix;
  .avatar, .user-info {
    float: left;
  }
  .avatar {
    padding-right: 1em;
    img {
      width: 48px;
      background: white;
      padding: 0.35em;
    }
  }

  .user-info {
    .name {
      margin-bottom: 0;
    }
    
    .stats {
      color: $text_color + #222;
      padding-top: 1em;
      font-weight: bold;
      
      li {
        list-style-type: none;
        padding-bottom: 0.45em;
        border-bottom: 1px solid #ccc;
        margin-bottom: 0.45em;
        font-size: 0.9em;
        
        a {
          font-size: 1.3em;
          padding-right: 0.25em;
        }
        
        .icon {
          float: left;
          margin-top: 2px;
          margin-right: 0.5em;
          @include image_replaced('/images/icons_sprite.png', 24px, 16px);
        }
      }
      
      .following-count .icon { 
        background-position: 0 -16px;
      }
      .follower-count .icon { 
        background-position: 0 -32px;
      }
    }
  }
  
}


/* ****************************** */
/* Footer */
/* ****************************** */

