body#home {
  #header {

    h2#logo {
      a {
        margin-left: 1em;
        display: block;
        @include image-replaced("/images/embed/logo.png", 348px, 100px);
      }
    }
    #login {
      padding-top: 2.25em;

      .options {
        padding-top: 0.25em;
        @include clearfix;
        div {
          float: left;
          padding-right: 0.25em;
        }
      }
    }
  }

  #pitch {
    background: white;
    .col {
      margin: 1em 0;
      border-right: 1px solid #ddd;
      text-align: center;

      .title {
        font-size: 2.4em;
        color: $link_color;
        margin-bottom: 0.15em;
      }
      .content {
        width: 250px;
        margin: auto;
        @include title-face;
        font-size: 1.3em;
        color: #c9c9c9;

      }

      padding-bottom: 178px;
    }

    #col-1 {
      background: url('/images/slide1.png') center bottom no-repeat;
      &:hover {
        text-decoration: none;
      }
    }
    #col-2 {
      background: url('/images/slide2.png') center bottom no-repeat;
    }
    #col-3 {
      background: url('/images/slide3.png') center bottom no-repeat;
    }
    .last-col {
      border: none;
    }
  }

  #home-bottom {
    @include clearfix();
    #manifesto {
      .wrap {
        padding: 1em 2em 0;
      }
    }
    #recent {
      .updates {
        padding-top: 2em;
        padding-left: 1em;

        h4 {
          padding-top: 1em;
        }
        .world-link {
          text-align: right;
        }
      }
    }
  }
}
