!= render :partial => "updates/detail", :locals => {:update => @update}

-unless @update.referral.nil?
  .reply
    .title
      in reply to
    != render :partial => "updates/detail", :locals => {:update => @update.referral, :reply => true}
