%h1 Contact Us

%p
  Please don't hesitate to send us a message with what you think!
  %br/
  All feedback, suggestions, and bug reports are welcome.

%p
  Just send an email: <a href="mailto:steve+rstatus@steveklabnik.com">steve+rstatus@steveklabnik.com</a>.

%p
  mailinglist: <a href="mailto:rstatus@librelist.com">rstatus@librelist.com</a>
  %br/
  irc: irc.freenode.net #rstatus
