!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title rstat.us - #{code}
    %link{:href => "/assets/screen.css", :media => "screen", :rel => "stylesheet"}
    %style

  %body#fourohfour
    .single-update
      .update-text-wrap
        %h1
          Oops!
        %h3
          #{message}

        %a{:href => "/"}
          Go back to rstat.us

        .image404
          %img{:src => "/images/404.jpg"}
          .credits
            Original artwork by
            %a{:href => "http://shelleymonahan.com"}
              Shelley Monahan
    /
      Browsers like Google Chrome and Internet Explorer decide not to display
      error pages if the content length of the page is too short.  For Internet Explorer,
      it appears the magic number is 512 bytes.  To be safe, make sure your error
      pages are long enough.  This little comment is here to do just that.
      Maybe some day there will be a really witty 404 page here.  I'm thinking
      something along the lines of "rrrrrrgh!  This rstatus page has been
      commandeered by pirates."  Okay that should be enough...
