- title "Search Updates"
- content_for :title do
  Search Updates

- content_for :top do
  #updates-search.search
    %form#search-form.search.messages-search{:action => "search", :method => "GET", :name => "search_form"}
      %input#search-input{:name => "search", :type => "text", :value => params[:search]}
      %input#search-button.button{:type => "submit", :value => "Search"}

= render :partial => "updates/list", :locals => {:updates => @updates, :tagline => "No statuses match your search.", :list_class => "search"}

