%h1 Users

#users-search.search
  %form{:method => :get, :action => "/users"}
    %input{:name => "search", :type => "text"}
    %input{:type => "submit", :value => "Search", :class => "button"}

#users-nav.nav
  %a{:href => "/users", :class => "all"} All
  - "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789".each_char do |c|
    - if params[:letter] == c
      = c
    - else
      %a{:href => "/users?#{Rack::Utils.build_query :letter => c}"}= c
  %a{:href => "/users?#{Rack::Utils.build_query :letter => "other"}"}
    Other

- if @users.empty?
  .empty
    Sorry, no users that match.
- else
  != haml :"users/_list", :locals => {:users => @users}


%nav.pagination
  - unless @prev_page.nil?
    %a.button{:href => @prev_page, :id => "prev_button"}
      &laquo; Previous

  - unless @next_page.nil?
    %a.button{:href => @next_page, :id => "next_button"}
      Next &raquo;
