- title(title)
- content_for :title do
  = title

- if @authors.empty?
  %h3 No one yet!
  Well, that's kind of boring.  Why not check out the links on the left to browse users or search rstat.us updates?

- else
  != haml :"users/_list", :locals => {:authors => @authors}


!= haml :"shared/_pagination"
