%h1 #{title}

!= haml :"users/_list", :locals => {:users => @users}

- unless @prev_page.nil?
  %a.button{:href => @prev_page, :id => "prev_button"}
    &laquo; Previous

- unless @next_page.nil?
  %a.button{:href => @next_page, :id => "next_button"}
    Next &raquo;
