%h1 #{title}

- if @authors.empty?
  %h3 No one yet!
  Well, that's kind of boring.  Why not check out the links on the left to browse users or search rstat.us updates?

- else
  != haml :"users/_list", :locals => {:users => @authors}

- unless @prev_page.nil?
  %a.button{:href => @prev_page, :id => "prev_button"}
    &laquo; Previous

- unless @next_page.nil?
  %a.button{:href => @next_page, :id => "next_button"}
    Next &raquo;
