!= haml :"users/_errors", :locals => {:user => @user}

%h2 Pick a new username

%form{:action => "/users", :method => "POST"}
  %label{:for => "username"} Username:
  %input{:type => "text", :name => "username", :id => "username"}
  %br/
  %input{:type => "submit", :value => "Finish Signup"}
