- content_for :title do
  Pick a new username

- content_for :top do
  != haml :"users/_errors", :locals => {:user => @user}

%p You're almost done! Choose a username to log in.

%form{:action => "/users", :method => "POST"}
  .form-section
    != haml :"shared/_field", :locals => {:attr => :username, :params => params}
  
  .form-submit  
    %input.button{:type => "submit", :value => "Finish Signup"}
