%h2 Password Reset

%form{:action => "/reset_password/#{@token}", :method => "POST"}
  %label{:for => "password" } Password:
  %input{:type => "password", :name => "password", :id => "password"}
  %br/
  %label{:for => "password_confirm" } Password Confirm:
  %input{:type => "password", :name => "password_confirm", :id => "password_confirm"}
  %br/
  %input{:type => "submit", :value => "Reset"}
