div#flash div.flash {
  padding: 0.5em 1em;
  @include rounded(4px);
  background-color: #FDFAF2;
  color: #555;

  &.notice {
    background-color: #8c8;
    color: #252;
  }

  &.error, &.alert, &.warning {
    background-color: #c88;
    color: #522;
  }

  ul {
    padding-left: 2em;
  }
}