- if @user.hashed_password.nil?
  %h2 Set Password
- else
  %h2 Password Reset

= form_tag "/reset_password" do
  - if @user.email.nil?
    %p You must provide an email address in order to set your password
    %label{:for => "email" } Email:
    %input{:type => "text", :name => "email", :id => "email"}

  - unless @token.nil?
    %input{:type => "hidden", :name => "token", :id => "token", :value => "#{@token}"}
    
  %label{:for => "password" } Password:
  %input{:type => "password", :name => "password", :id => "password"}
  
  %label{:for => "password_confirm" } Password Confirm:
  %input{:type => "password", :name => "password_confirm", :id => "password_confirm"}
  
  %input{:type => "submit", :value => "Reset"}
