%p
  Please enter a new username
= form_tag "/reset-username"
  %label Username
  %input{:type=>:text, :id => :username, :name => :username}
  %input{:type=>:submit, :value => :Update, :class => "button"}