!!! 5
%html.no-js{:lang => "en"}
  != haml :"shared/_head", :locals => {:css => ['update'], :title => @update.text}
  %body#update
    != haml :"shared/_flash"

    .single-update.update
      != yield
    != haml :'updates/footer'
