- title "Updates"
- unless current_user.nil?
  - content_for :top do
    != haml :"updates/_form"

!= haml :"shared/_navigation"

-# Generate page id from url
.updates.has-update-form{:id => request.path_info.gsub("/", "_")[1..-1]}
  != haml :"updates/_list", :locals => {:updates => @updates}
  %nav.pagination
    - unless @prev_page.nil?
      %a.button{:href => @prev_page, :id => "prev_button"}
        &laquo; Previous

    - unless @next_page.nil?
      %a.button{:href => @next_page, :id => "next_button"}
        Next &raquo;
