!!! 5
%html.no-js{:lang => "en"}
  != haml :_head, :locals => {:css => ['update'], :title => @update.text}
  %body#update
    != haml :_flash

    .single-update.update
      != yield
    != haml :'updates/footer'
