!!! 5
%html.no-js{:lang => "en"}
  != haml :_head, :locals => {:css => ['update'], :title => @update.text}
  %body#update
    - if flash[:notice] || flash[:error]
      #flash
        = flash[:notice]

    .single-update.update
      != yield
    != haml :'updates/footer'
