!!! 5
%html.no-js
  != haml :_head, :locals => {:css => ['update'], :title => @update.text}
  %body#update
    - if flash[:notice] || flash[:error]
      #flash
        = flash[:notice]
    
    .update
      != yield           
    != haml :'updates/footer'
