- title "Search Updates"
- content_for :title do
  Search Updates

- content_for :top do
  #updates-search.search
    %form{:action => "search", :method => "GET", :name => "search_form"}
      %input.search-field{:name => "q", :type => "text"}
      %input.submit{:type => "submit", :value => "Search", :class => "button"}

- if @updates.empty?
  .updates
    .empty
      Nothing matched your search results
- else
  != haml :"updates/_list", :locals => {:updates =>  @updates}
