!= haml :"updates/_detail", :locals => {:update => @update}

-unless @update.referral.nil?
  .reply
    .title
      in reply to
    != haml :"updates/_detail", :locals => {:update => @update.referral}
