#single-update
  .update-text-wrap
    .update-text
      != @update.to_html
  .byline
    .update-date
      = @update.created_at.ago_in_words  
      by
    %a{:href => "/users/#{@update.user.username}"}
      .avatar
        %img{:alt => "avatar", :src => @update.user.twitter_image}/
      .name
        = @update.user.username
